.available {
  text-decoration: underline;
}

.not-available {
  color: grey;
}

.not-available a {
  color: red !important;
}

.flex-container {
  display: flex;
}

.align-center {
  align-items: center;
}

.chef-container {
  margin-left: auto;
}
